.park {
    &-heading {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        border-bottom: 0.15rem solid black;
        margin-bottom: 3rem;

        &:hover {
            color: rgb(97, 97, 97);
            border-bottom: 0.15rem solid rgb(97, 97, 97);
        }

        &-btn {
            &-icon {
                font-size: 3rem;
            }
        }
    }

    &-text {
        margin-bottom: 3rem;

        &-link {
            display: block;
        }
    }
}
