html {
    font-size: 62.5%;

    body {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        padding: 0 10rem;

        h1,
        h2 {
            font-weight: 900;
        }

        .heading-main {
            text-align: center;
        }

        .btn {
            border: none;
            background: transparent;
        }
    }
}
