// .active {
//     // max-height: max-content !important;
//     // overflow: visible;
// }

.rotate-up {
    rotate: 180deg;
    transition: all 0.1s ease-in;
}

.rotate-down {
    rotate: 0deg;
    transition: all 0.1s ease-in;
}
